@import '../abstracts/mixins';
@import '../abstracts/variables';
.flex-container {
    @include flex(center, center);
    margin-top: 16px;
}

.course-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 476px 476px;
    grid-auto-rows: 246px;
    .course-card {
        display: flex;
        flex-wrap: wrap;
        border-radius: 2px;
        background-color: white;
        padding: 24px 24px 0px;
        box-sizing: border-box;
        min-height: 246px;
        
        .course-img {
            flex: 1;
            border-radius: 2px;
        }
        .course-body {
            flex: 2;
            margin-left: 16px;
            .card-title {
                display: flex;
                justify-content: space-between;   
                overflow: hidden;
                .fav-span {
                    float: right;
                    margin: 0;
                    top: 0;
                    right: 0;
                }
                h3 {
                    font-size: 16px;
                    max-height: 42px;
                    margin: 0;
                }
            }
            p {
                font-size: 12px;
            }
            span {
                margin-right: 8px;
            }
            .green-span {
                color: #1F7A54;
            }
            #course-card-select {
                font-family: 'Quicksand';
                font-size: 16px;
                margin-top: 16px;
                padding-bottom: 5px;
            }
        }
        .course-card-footer {
            // margin-top: 5px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            padding: 16px 24px 11px;
            border-top: 1px solid #00000012;
            img {
                height: 24px;
            }
        }
    }
}

.course-card-text-mp {
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-bottom: 8px;
    color: $gray33;
}

.multine-ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}



