@import '../abstracts/variables';
.header {
    height: 40px;
    border-bottom: 3px solid #31B9E4;
    background-image: url("../quantum-screen-assets/header\ pattern\ image.png");
    background-color: $headerBgColor;
    padding: 10px 15px;
    .header-img {
        height: 100%;
    }
}

